@font-face {
    font-family: 'AeonikPro';
    font-weight: 300;
    font-style: normal;
    src:  url('./../../public/fonts/AeonikProTRIAL-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'AeonikPro';
    font-weight: 400;
    font-style: normal;
    src:  url('./../../public/fonts/AeonikProTRIAL-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'AeonikPro';
    font-weight: 700;
    font-style: normal;
    src:  url('./../../public/fonts/AeonikProTRIAL-Bold.woff2') format('woff2');
}
